/*page structure (font, body, navigation, footer)*/
html {
    scroll-behavior: smooth;
}

.quicksand-regular {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.bodoni-moda-regular {
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.fira-sans-regular {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.cinzel-regular {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;   
}

body {
    margin: 0px;
    padding: 0px;
}

.container {
    max-width: 650px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 70px;
}

nav {
    margin: 0px;
    padding: 25px;
    background-color: #37445c;
    font-family: "Quicksand", sans-serif;

    position: sticky;
    top: 0;
    z-index: 1000;

    display: flex;
    justify-content: center;
    gap: 100px;
}

footer {
    background-color: #37445c;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}

.container-footer {
    max-width: 700px;
    margin: 20px auto;
    line-height: 1.1;

    display: flex;
    justify-content: center;
    gap: 55px;
}

.reach-out {
    font-family: "Cinzel", serif;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.footer-graphics {
    padding-top: 15px;
}

.social-graphics-footer {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.footer-graphics > .social-graphics-footer a {
    color: #000000;
    font-size: 35px;

    cursor: pointer;
    transition: background-color 2s ease;

    padding-top: 30px;
}

.social-graphics-footer a:hover {
    color: #9b9696;
}

/*content structure (paragraphs, headings, etc.)*/
p {
    font-family: "Quicksand", sans-serif;
}

h1 {
    font-family: "Cinzel", serif;
}

a,
a:visited,
a:link {
    color: #b8c3d7;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: underline;
}

ul {
    font-family: "Quicksand", sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 22px;
}

li {
    font-family: "Quicksand", sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
}

.indent {
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 10px;
}

/*home page*/
.home {
    background-image: url("images/home-background.jpg");
    background-size: cover;
    background-attachment: fixed;
    padding-top: 80px;
    padding-bottom: 200px;

    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 80px;
}

.contact-card {
    background-color: #f1f1f1;
    color: #37445c;
    margin: 50 auto;
    width: 350px;
    padding-top: 35px;
    padding-bottom: 60px;
    text-align: center;
}

.contact-card p {
    color: #4e4c4c;
    font-size: 16px;
    line-height: .8;
    font-family: "Bodoni Moda", serif;
}

.social-graphics {
    display: flex;
    justify-content: center;
    gap: 27px;

    padding-top: 5px;
    padding-bottom: 5px;
}

.social-graphics a {
    color:#4e4c4c;
    font-size: 35px;

    cursor: pointer;
    transition: background-color 2s ease;
}

.social-graphics a:hover {
    color: #a6acb8;
}

.home > .heading {
    color: white;
    line-height: 0;
    align-content: center;
}

.heading h3 {
    font-family: "Libre Baskerville", serif;
    font-size: 80px;
}

.heading h4 {
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 30px;
}

.profile-picture {
    width: 200px; 
    height: 200px;
    object-fit: cover;
    border-radius: 50%;

    padding-bottom: 5px;
}

a.download-my-resume-button {
    border: none;
    background-color: #bec7d5;
    color: #37445c;

    padding-left: 23px;
    padding-right: 23px;
    padding-top: 20px;
    padding-bottom: 20px;

    font-family: "Quicksand", sans-serif;
    font-size: 15px;

    cursor: pointer;
    transition: background-color 0.5s ease;

    display: inline-block;
    text-decoration: none;
}

.download-my-resume-button:hover {
    background-color: #a6acb8;
    color: #37445c;
    text-decoration: none;
}

.download-my-resume-text {
    font-size: 20px;
}

/*projects on home page*/
.projects {
    background-color: #37445c;
    color: white;
    padding-top: 70px;
    padding-bottom: 70px;
}

/*education + experiences on home page*/
#education-experience {
    background-color: white;
    color: black;
    padding-top: 70px;
    padding-bottom: 70px;
}

.timeline {
    border-left: 2px solid #000000;
    height: 50%;
    padding-left: 20px;
    font-size: 14px;
    line-height: 1.65;
    padding-bottom: 0px;
}

.timeline-cooper, .timeline-aviation, .timeline-molex, .timeline-penguineering-college, .timeline-loisaida, .timeline-amt, .timeline-penguineering-highschool {
    font-family: "Quicksand", sans-serif;
    margin-bottom: 0px;
    padding-bottom: 0px
}

.timeline > div {
    position: relative; 
}

.timeline > div::before {         /*the dot*/
    content: '';
    position: absolute;
    width: 9px;
    height: 9px;
    background-color: #000000;
    border-radius: 50%;

    left: -25.5px;
    top: 30px; 
}

/*projects page*/
h2 {
    font-family: "Quicksand", sans-serif;
}

.projects-mechanical-rectifier {
    padding-top: 50px;
    padding-bottom: 35px;
    border-bottom: 1px solid gray;
}

.projects-scale {
    padding-top: 35px;
    padding-bottom: 35px;
    border-bottom: 1px solid gray;
}

.projects-vending-machine {
    padding-top: 35px;
    padding-bottom: 35px;
}

.projects-mechanical-rectifier-flexbox {
    display: flex;
    gap: 25px;
    line-height: 1.5;
    align-items: center;
}

.projects-mechanical-rectifier-picture {
    max-width: 40%;
    height: auto;
    border-radius: 15px;
}

.projects-scale-flexbox {
    display: flex;
    flex-direction: row-reverse;
    gap: 25px;
    line-height: 1.5;
    align-items: center;
}

.projects-scale-picture {
    max-width: 50%;
    height: 50%;
    border-radius: 15px;
}

.projects-vending-machine-flexbox {
    display: flex;
    gap: 25px;
    line-height: 1.5;
    align-items: center;
}

.projects-vending-machine-picture {
    padding-top: 20px;
    max-width: 40%;
    height: auto;
}

a.projects-mechanical-rectifier, a.projects-scale, a.projects-vending-machine {
    color: aqua;
} /*NEED TO FIGURE OUT LINK COLOR ON PROJECTS PAGE*/

/*about me page*/
.about-me-container {
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 50px;
}

.about-me {
    font-size: 18px;
    display: flex;
    gap: 40px;
    padding-top: 20px;
}

.about-me-image {
    border-radius: 25px;
    margin-top: 75px;
    scale: 95%;
}